<html>
	<table>
		<tbody>
			<tr>
				<td>name</td>
				<td><%= name %></td>
			</tr><tr>
				<td>height</td>
				<td><%= height %></td>
			</tr><tr>
				<td>mass</td>
				<td><%= mass %></td>
			</tr><tr>
				<td>hair_color</td>
				<td><%= hair_color %></td>
			</tr><tr>
				<td>skin_color</td>
				<td><%= skin_color %></td>
			</tr><tr>
				<td>eye_color</td>
				<td><%= eye_color %></td>
			</tr><tr>
				<td>birth_year</td>
				<td><%= birth_year %></td>
			</tr><tr>
				<td>homeworld</td>
				<td><%= homeworld %></td>
			</tr><tr>
				<td>films</td>
				<td><%= films %></td>
			</tr><tr>
				<td>species</td>
				<td><%= species %></td>
			</tr>
		</tbody>
	</table>
</html>